.header-logo {
	background: rgb(255,255,255);
	background: linear-gradient(rgba(255,255,255,1) 25%, rgba(90,220,250,1) 100%);
	height: 100vh;
	display:flex;
	overflow: auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap:wrap;
}
/*
.header-text {
	font-family: 'Montserrat';
	font-weight: 400;
	letter-spacing: 0.2em;
	color: white;
	font-size: 3em;
	margin-bottom: 0;

}
*/
.logo{
	flex-basis; 45rem;
	min-width: 45rem;
	height: auto;
	align-self:center;
}

.logo-text{
	align-self:center;

}

.panelists {
	background: rgb(255,255,255);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.panelist-box{

	width: 90%;
	height: 40vh;
	object-fit: cover;
	object-position: center;

}

.subcomittee-container {
           display: -webkit-flex;
           display: flex;
           -webkit-flex-direction: row;
           flex-direction: row;
           -webkit-align-items: center;
           align-items: center;
           flex-wrap: wrap;
           min-width: 300px;
           max-width: 1200px;
	   	 		 justify-content: space-even;
           background: rgb(255,255,255);
        }

        .flex-item {
        display:flex;
        align-items: center;
        width: 300px;
				line-height: 25px;
        margin: 10px;
        padding: 1px;
        overflow: hidden;
        }

.flex-item img{
    flex-grow:0;
    flex-shrink:0;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 20% 0;
    border-radius: 50%;
}

.description-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align:left;
	margin: 20px;
	font-size: medium;
}

.subcomittee-box {
	height: auto;
	width: auto;
}

.industry-box {
	flex-basis: 20%;
	flex-grow: 0;

}

.science-box {
	flex-basis: 20%;
	flex-grow: 0;

}
#register-link {
	font-family: 'Montserrat';
	font-weight: 1000;
	font-size: 1.5em;
	color: black;
	border-bottom: 4px solid rgba(139, 0, 0, 0);
	-o-transition: 0.5s;
  	-ms-transition: 0.5s;
  	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s ease-in-out;
}

#bhgText {
	background-color: pink;
	height: 10em;
  	margin-bottom: 10em;
}

#box {
        background-color: yellow;
}

#reg-link {
	margin-bottom: 1.5em;
}


#register-link:hover {
	text-decoration: none;
	border-bottom: 2px solid rgba(139, 0, 0, 1);
}

.text-parent {
	width:100%;
	height:10vh;
	margin-top: 3em;
	margin-bottom: 30vh;
}

#science-person {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}

#science-job {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-style: italic;
}

#science-bio {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
}

#industry-person {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}

#industry-job {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-style: italic;
}

#industry-bio {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
}
