.header-logo {
	background: rgb(255,255,255);
	background: linear-gradient(rgba(255,255,255,1) 25%, rgba(90,220,250,1) 100%);
	height: 100vh;
	display:flex;
	overflow: auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap:wrap; */
	font-size: 1em;
	margin-top: 3em;
}

/* .header-text {
	font-family: 'Montserrat';
	font-weight: 400;
	letter-spacing: 0.2em;
	color: white;
	font-size: 3em;
	margin-bottom: 0;

} */

.logo{
	flex-basis: 45rem;
	min-width: 45rem;
	height: auto;
	align-self:center;
}

@media screen and (max-width: 800px) {
	.header-logo {
		background: rgb(255,255,255);
		background: linear-gradient(rgba(255,255,255,1) 25%, rgba(90,220,250,1) 100%);
		height: auto;
		display:flex;
		overflow: auto;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		/* flex-wrap:wrap; */
		font-size: 1em;
		margin-top: 3em;
	}
	.logo {
		display: block;
		width: 100%;
		min-width: auto;
		flex-basis: auto;
		height: auto;
		align-self:center;
		margin-bottom: 3em;
	}
}
.logo-text{
	align-self:center;
}

.topnav {
	overflow: hidden;
	background-color: rgb(250, 250, 250);
  }
  
  .topnav a {
	float: left;
	color: #113c75;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  /* Hide the link that should open and close the topnav on small screens */
.topnav .visible-phone {
  display: none;
}
  
  .topnav a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(16, 86, 151);
	color: rgb(173, 228, 241);
  }
   /* Dropdown container - needed to position the dropdown content */
.dropdown {
	float: left;
	overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
	font-size: 17px;
	border: none;
	outline: none;
	color: #113c75;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(250, 250, 250);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: #113c75;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: rgb(16, 86, 151);
	color: rgb(173, 228, 241);
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
	display: block;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
	  display: none;
	}
	.topnav a.visible-phone {
	  float: right;
	  display: block;
	}
  }
  
   /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.visible-phone {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }

.panelists {
	background: rgb(255,255,255);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.panelist-box{
	width: 90%;
	height: 40vh;
	object-fit: cover;
	object-position: center;
}

@media screen and (max-width: 800px) {
	.panelist-box{
		width: 90%;
		height: 20vh;
		object-fit: cover;
		object-position: center;
	}
  }

.subcomittee-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	min-width: 300px;
	max-width: 1200px;
	justify-content: space-even;
	background: rgb(255,255,255);
}

.flex-item {
	display:flex;
	align-items: center;		
	flex-basis: 30%;
	line-height: 25px;
	margin: 14px;
	padding: 5px;
	overflow: hidden;
}

.flex-item img{
    flex-grow:0;
    flex-shrink:0;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 20% 0;
    border-radius: 50%;
}

.description-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align:left;
	margin: 20px;
	font-size: medium;
}

@media (max-width: 800px) {
	.flex-item {
		display:block;
		width: auto;
		align-items: center;	
		flex-basis: 30%;
		line-height: 25px;
		margin: 14px;
		padding: 5px;
		overflow: hidden;
	}

	.flex-item img{
		flex-grow:0;
		flex-shrink:0;
		width: 80px;
		height: 80px;
		object-fit: cover;
		object-position: 20% 0;
		border-radius: 50%;
		vertical-align: top;		
	}

	.description-text {
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: column;
	  justify-content: center;
	  text-align:left;
	  font-size: small;
	  padding-left: 0;
	  float: left;
	}
}
  

.workshop-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	min-width: 300px;
	max-width: 1200px;
	justify-content: space-even;
	background: rgb(255,255,255);
}

.flex-workshopitem {
	display:flex;
	align-items: center;		
	flex-basis: 55%;
	line-height: 25px;
	margin: 14px;
	padding: 5px;
	overflow: hidden;
}

.flex-workshopitem img{
    flex-grow:0;
    flex-shrink:0;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 20% 0;
    border-radius: 50%;
}


.flex-workshopfullitem {
	display:flex;
	align-items: center;		
	flex-basis: 30%;
	line-height: 25px;
	margin: 14px;
	padding: 5px;
	overflow: hidden;
}

.flex-workshopfullitem img{
    flex-grow:0;
    flex-shrink:0;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 20% 0;
    border-radius: 50%;
}

@media (max-width: 800px) {
	.flex-workshopfullitem{
		display:block;
		align-items: normal;	
		flex-basis: 50%;
		line-height: 25px;
		margin: 14px;
		padding: 5px;
		overflow: hidden;
	}

	.flex-workshopfullitem img{
		flex-grow:0;
		flex-shrink:0;
		width: 80px;
		height: 80px;
		object-fit: cover;
		object-position: 20% 0;
		border-radius: 50%;
		vertical-align: top;		
	}
}

.subcomittee-box {
	height: auto;
	width: auto;
}

.worklife-box {
	flex-basis: 30%;
	align-items: left;
	flex-grow: 0;
}

.career-box {
	flex-basis: 25%;
	flex-grow: 0;
}

#register-link {
	font-family: 'Montserrat';
	font-weight: 1000;
	font-size: 1.5em;
	color: black;
	border-bottom: 4px solid rgba(139, 0, 0, 0);
	-o-transition: 0.5s;
  	-ms-transition: 0.5s;
  	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s ease-in-out;
}

#bhgText {
	background-color: pink;
	height: 10em;
  	margin-bottom: 10em;
}

#box {
        background-color: yellow;
}

#reg-link {
	margin-bottom: 1.5em;
	justify-content: center;
	align-items: center;
}


#register-link:hover {
	text-decoration: none;
	border-bottom: 2px solid rgba(139, 0, 0, 1);
}

.text-parent {
	width:100%;
	height:10vh;
	margin-top: 3em;
	margin-bottom: 50vh;
	font-size: large
}

.textera-parent {
	width:100%;
	height:40vh;
	margin-top: 1em;
	margin-bottom: 40vh;
	font-size: medium
}

#worklife-person {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}

#worklife-job {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-style: italic;
}

#worklife-bio {
	transition: 1s color;
	color: #000000;
	font-size: large;
}

#career-person {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}

#career-job {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-style: italic;
}

#career-bio {
	transition: 1s color;
	color: #000000;
	font-size: large;
}


@media (max-width: 800px) {
	.text-parent {
		width:100%;
		height:50vh;
		margin-top: 3em;
		margin-bottom: 50vh;
		font-size: small
	}
	
	#career-person {
		transition: 1s color;
		color: #000000;
		font-size: medium;
		font-weight: bold;
	}

	#career-job {
		transition: 1s color;
		color: #000000;
		font-size: medium;
		font-style: italic;
	}

	#career-bio {
		transition: 1s color;
		color: #000000;
		font-size: x-small;
	}
}

#mri-person {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}

#mri-job {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-style: italic;
}

#mri-bio {
	transition: 1s color;
	color: #000000;
	font-size: large;
}

#era-person {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
}

#era-job {
	transition: 1s color;
	color: #000000;
	font-size: x-large;
	font-style: italic;
}

#era-bio {
	transition: 1s color;
	color: #000000;
	font-size: large;
}
